{% extends "page.html" %}
{% block head %}
  <title>DashboardData</title>
{% endblock %}

{% block customPageScripts %}
<script src="./../web/content/bundle.js"></script>

{% endblock %}

{% block pageHeader %}
<h1 class="page-header"> Dashboad
    <small> DashboardSmall</small>
</h1>
<!-- SiteNavigation -->
<ol class="breadcrumb">
    <li>
        <i class="fa fa-dashboard"></i><a href="/">DashboardSiteNave</a>
    </li>
    <li class="active">
        <i class="fa fa-home"></i> DashboadSiteNaveActive
    </li>
</ol>           
<!-- /.SiteNavigation -->   
{% endblock %}

{% block content %}

<div id="app" class="app"></div>

{% endblock %}