*.suo
*.bak
data/
packages/
obj/
bin/
.paket/paket.exe
*.svclog
output
*.orig
.fake
code/WebSite/web/img
*.user
node_modules/
code/MinimalFableSuave.Service/bin
code/MinimalFableSuave.Service/obj
.vs/MinimalFableSuave.WebSite/v14/.suo
code/MinimalFableSuave.Service/obj/
code/WebSite/obj/
